<div ng-controller="LoginCtrl">    
    <ul ng-hide="isLogged" class="nav navbar-nav navbar-right">
        <li class="active">
            <a href="/#/teachers">Teachers</a>
        </li>
        <li>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" required="" placeholder="Username" ng-model="user.username">
                    <input type="password" class="form-control" required="" placeholder="Password" ng-model="user.password">
                </div>
                <button ng-click="login(user)" class="btn btn-default">Admin Panel</button>
                <a href="#/register" class="btn-default btn">Register</a>
            </form>
        </li>
    </ul>
</div>